/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #ticket-price {
    background-color: rgb(174, 0, 1);
    height: 150px;
    color: rgb(211, 166, 38);
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    
  }

 